<li class="track-li">
	<div class="track-container">
		<h3> {{instrument}} </h3>
		<div class="container">
			<div class="row">
				<div class="track-controls col-xs-5 col-sm-4 col-md-3">
					<canvas id="canvas" class="visuals"></canvas>
					<select id="track-select" class="select-track btn btn-default"></select>
					<button id="upload-button" class="upload-button btn btn-default">
						<i class="fa fa-caret-square-o-up"></i>
					</button>
					<div id="upload-download" class="upload-download shadow">
						<button class="btn btn-default btn-xs btn-updown" data-toggle="modal" data-target="#uploadModal0"> Upload </button>
						<a href="">
							<button class="btn btn-default btn-xs btn-updown"> Download </button>
						</a>
					</div>
					<button class="play-track btn btn-xs btn-success">
						<i class="fa fa-play-circle"></i>
					</button>
					<button class="mute btn btn-xs btn-danger"> M
					</button>
				</div>
				<div id="track-content" class="col-xs-7 col-sm-8 col-md-9"></div>
			</div>
		</div>

	</div>
</li>